include LICENSE README.md MANIFEST.in pyproject.toml setup.py
include scripts/*.py
include aide/web_assets/index.html
include aide/web_assets/favicon.svg
include aide/web_assets/manifest.json
recursive-include aide/web_assets/assets *
global-exclude __pycache__ *.py[cod]
