include LICENSE README.md MANIFEST.in pyproject.toml
include scripts/*.py
recursive-include scripts/packaging *.py
include aide/client/web/assets/index.html
include aide/client/web/assets/favicon.svg
include aide/client/web/assets/manifest.json
recursive-include aide/client/web/assets/assets *
prune aide/client/web/frontend
global-exclude __pycache__ *.py[cod]
